
.main--content{
    width: 95%;
    height: 100%;
    /* border:1px solid red; */
    background-color: #ddd;
    margin-left: 5%;
    position: relative;
    top:58px;
    right: 0;
}
.dashboard--title{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    padding:1rem;
    font-size: 17px;
    color:#121212;
    gap:10px;
}
#dashboard-title{
    font-size: 20px;

}
.single-bar{
    width: 1px;
    height: 20px;
    background-color: #121212;
    border-radius: 5px;
}
.page-title{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}