.sidebar{
    width: 5%;
    height: 100vh;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    
}

.menu{
    width: 50%;
    height: 80vh;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.icon-class{
    width: 25px;
    height: 25px;
    
}
.icon-class-small{
    width: 14px;
    height: 14px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
  width: 30px;  
  height:30px;  
  /* border:1px solid green; */
  background-color: rgba(236, 236, 236, 0.5);
  padding-top: 0.25rem;
  
  
}
.logo-icon{
    /* border:1px solid white; */
    position: relative;
    top:40px;
    left:0;
}
.links{
    width: 100%;
    height: 80%;
    /* border:1px solid green; */
    position: relative;
    top:70px;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding-top: 0.5rem;
}
.message-with-dot{
    position: absolute;
    top:115px;
    left:17px;
    z-index:2;
    /* border:1px solid red; */
    
}
.icon-class-small{
    border-radius: 50%;
    /* border: 2px solid white; */
    
}

.ml{
    margin-left: 2.5px;
}
.mt-5{
    margin-top: 10px;
}
.logout{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* border: 1px solid red; */
}
.common-hover{
    width: 30px;  
  height:30px;  
  /* border:1px solid green; */
  /* background-color: rgba(236, 236, 236, 0.5); */
  padding-top: 0.25rem;
}
.common-hover:hover{
    background-color: rgba(236, 236, 236, 0.5);
}
